<media-item-header></media-item-header>

<ad-host slot="ads.shared" class="shared-ad-host"></ad-host>

<mat-sidenav-container class="container main-container">
    <mat-sidenav-content>
        <div class="items-container">
            <div *ngIf="show_dialog" class="reszletes" >
                <form [formGroup]="form"  >
                    <mat-grid-list  cols="{{gridcols}}" rowHeight="10:2">
                        <mat-grid-tile>
                                <div class="cucc filter-container input-container">
                                        <div class="name"><label class="filter-header" for="type" trans>Minőség</label></div>
                                        <div class="action">
                                                <select name="links_quality" id="links_quality" formControlName="links_quality">
                                                        <option [ngValue]="null" trans>Összes</option>
                                                        <option *ngFor="let quality of qualityList" [value]="quality" trans>{{quality}}</option>
                                                </select>
                                        </div>
                                </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <div class="cucc filter-container input-container">
                                        <div class="name"><label class="filter-header" for="type" trans>Nyelv</label></div>
                                        <div class="action">
                                                <select name="links_language" id="links_language" formControlName="links_language">
                                                        <option [ngValue]="null" trans>Összes</option>
                                                        <option *ngFor="let lan of lanList" [value]="lan" trans>{{lan}}</option>
                                                </select>
                                        </div>
                                </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <div class="cucc filter-container input-container">
                                        <div class="name"><label class="filter-header" for="type" trans>Kategóriák</label></div>
                                        <div class="action">
                                                <mat-select formControlName="genre" multiple>
                                                        <mat-option *ngFor="let genre of genres$ | async" [value]="genre">{{genre}}</mat-option>
                                                </mat-select>
                                        </div>
                                    </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <div class="cucc filter-container input-container">
                                        <div class="name"><label class="filter-header" for="type" trans>ÉV</label></div>
                                        <div class="action"><range-slider [min]="1880" [max]="currentYear()" [step]="1" formControlName="released"></range-slider>
                                        </div>
                                    </div>
                        </mat-grid-tile>   
                        <mat-grid-tile>
                                <div class="cucc filter-container input-container">
                                        <div class="name"><label class="filter-header" for="type" trans>Rating</label></div>
                                        <div class="action"><range-slider [min]="1" [max]="10" [step]="0.1" [float]="true" formControlName="score"></range-slider>
                                        </div>
                                    </div>
                        </mat-grid-tile>     
                        <mat-grid-tile>
                                <div class="cucc filter-container input-container">
                                        <div class="name"><label class="filter-header" for="type" trans>Játékidő</label></div>
                                        <div class="action"><range-slider [min]="1" [max]="255" [step]="1" affix="min" formControlName="runtime"></range-slider>
                                        </div>
                                    </div>
                        </mat-grid-tile> 
                    <mat-grid-tile>
                        <div class="cucc filter-container input-container">
                                <div class="name"><label class="filter-header" for="type" trans>Ország</label></div>
                                <div class="action">
                                        <select id="country" formControlName="country">
                                                <option [ngValue]="null" trans>Összes ország</option>
                                                <option [value]="option.code" *ngFor="let option of countries$ | async">{{option.name}}</option>
                                            </select>
                                </div>
                            </div>
                </mat-grid-tile>  
                <mat-grid-tile>
                    <div class="cucc filter-container input-container">
                            <div class="name"><label class="filter-header" for="type" trans>Besorolás</label></div>
                            <div class="action">
                                    <mat-button-toggle-group formControlName="certification" aria-label="Certification">
                                            <mat-button-toggle [value]="certification" *ngFor="let certification of certifications$ | async">{{certification}}</mat-button-toggle>
                                    </mat-button-toggle-group>
                            </div>
                    </div>
            </mat-grid-tile>  
                               
                    </mat-grid-list>
                </form>
            </div>

            <div class="header">
                <h1 trans>Browse</h1>
                <div class="applied-filters">
                    <button class="toggle-filters-button" mat-icon-button (click)="toggle()">
                        <mat-icon svgIcon="search"></mat-icon>
                        <span  *ngIf="!breakpoints.isMobile$.value" class="label" trans>Részletes kereső</span>
                    </button>
                    <button mat-stroked-button class="clear-all-filters-button" (click)="clearAllFilters()" *ngIf="anyFilterActive$ | async">
                        <span class="text" trans>Reset Filters</span>
                        <mat-icon svgIcon="close"></mat-icon>
                    </button>
                </div>
                <browse-titles-sort-widget [formControl]="form.get('order')"></browse-titles-sort-widget>
            </div>
            <media-grid [items]="titles$ | async" class="partial-width small-titles"></media-grid>
            <no-results-message *ngIf="doesNotHaveResults$ | async">
                <span primary-text trans>Nothing To Display.</span>
                <span secondary-text trans>Seems like no titles match specified filters.</span>
            </no-results-message>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<footer></footer>
<loading-indicator [isVisible]="loading$ | async" class="overlay"></loading-indicator>