.linkcontainer{
    margin-top: 3%;
    width:100%;
    .main{
    padding:5px;
    display: grid;
    grid-template-columns: 15% 20% 20% 35% 10%;
    color: rgba(0,0,0,.54);
    font-size: 12px;
    font-weight: 500;
    border-bottom: 1px solid rgb(224, 224, 224);
    align-items: center;
    box-sizing: border-box;
        .language{}
        .server{}
        .submit{}
        .quality{}
    }

    .row{
        min-height: 48px;
        display: grid;
        grid-template-columns: 15% 20% 20% 35% 10%;
        border-width: 0;
        border-bottom: 1px solid rgb(224, 224, 224);
        align-items: center;
        font-size: 14px;
        color: rgba(0,0,0,.87);
        box-sizing: border-box;
            .language{    display: grid;
                align-items: center;}
            .server{    display: grid;
                align-items: center;text-transform: uppercase;}
            .submit{    display: grid;
                align-items: center;}
            .quality{    display: grid;
                align-items: center;}
            .play{
                line-height: 45px;
                display: grid;
                align-items: center;
                text-align: right;
                justify-content: end;
                color:#f44336;
                font-size: 1.7rem;
                text-transform: uppercase;
            }

        }
    .row:hover{
        background:#dbd8d8;
        .play:hover{
            background:#f44336;
            color:#dbd8d8;
        }
    }
}