.linkcontainer{
    margin-top: 3%;
    width:100%;
    .main{
    padding:5px;
    display: grid;
    grid-template-columns: 15% 20% 20% 35% 10%;
    background-image: linear-gradient(#385a9a, #7596bc);
    color:white;
    text-shadow: 2px 2px 1px black;
        .language{}
        .server{}
        .submit{}
        .quality{}
    }

    .row{
        display: grid;
        grid-template-columns: 15% 20% 20% 35% 10%;
        background:#ebebeb;
        border:1px solid white;
            .language{    display: grid;
                align-items: center;}
            .server{    display: grid;
                align-items: center;text-transform: uppercase;}
            .submit{    display: grid;
                align-items: center;}
            .quality{    display: grid;
                align-items: center;}
            .play{
                display: grid;
                align-items: center;
                text-align: right;
                justify-content: end;
                color:#c8ccd0;
                font-size: 1.7rem;
                text-transform: uppercase;
            }

        }
    .row:hover{
        background:#dbd8d8;
        .play:hover{
            background:#0b4094;
            color:#dbd8d8;
        }
    }
}