<media-item-header [backdrop]="backdropImage$ | async"></media-item-header>

<ad-host slot="ads.shared" class="shared-ad-host"></ad-host>

<div class="container" *ngIf="episode$ | async as episode">
    <title-primary-details-panel [item]="episode"></title-primary-details-panel>
    <title-secondary-details-panel [item]="episode"></title-secondary-details-panel>
    <videos-panel [mediaItem]="episode" *ngIf="settings.get('titles.show_videos_panel')"></videos-panel>
    <mat-tab-group color="accent" animationDuration="0ms">
            <mat-tab [label]="'Links' | trans">
                <title-links></title-links>
            </mat-tab>

            <ng-container *ngIf="currentUser.isLoggedIn();">
                <mat-tab [label]="'Link submit' | trans">
                        <ng-template matTabContent>
                            <title-linksubmit-panel></title-linksubmit-panel>
                        </ng-template>
                </mat-tab>
            </ng-container>
                
            <mat-tab [label]="'Cast' | trans">
                <title-cast-panel></title-cast-panel>
            </mat-tab>

    </mat-tab-group>
</div>

<footer></footer>