<figure class="item" *ngFor="let item of items">
    <media-image [src]="item.poster" size="medium" [link]="urls.mediaItem(item)"></media-image>
    <figcaption>
        <span class="title">{{item.name}}</span>
        <hr>
        <div *ngIf="item.rating"  class="rating"><mat-icon svgIcon="thumb-up"></mat-icon> <span>{{((item.rating/10)*100).toFixed(0)}}%</span></div>
        <div class="details">
            <div *ngIf="item.links_language" class="row">
                <div class="name">Nyelv:</div>
                <div   class="data">{{item.links_language}}</div>
            </div>
            <div *ngIf="item.links_language" class="row">
                    <div class="name">Minőség:</div>
                    <div  class="data">{{item.links_quality}}</div>
            </div>
 
        </div>
        <div [routerLink]="urls.mediaItem(item)" class="bottom">
            <div class="action">
                <div class="icon">
                        <mat-icon svgIcon="play-arrow"></mat-icon>
                </div>
                <div class="text">
                    Nézd online
                </div>
            </div>
        </div>
        
        <genre-widget [genres]="item.genres" [limit]="3" *ngIf="isPerson(item)"></genre-widget>
    </figcaption>
</figure>