
<div class="card" *ngFor="let item of items" [routerLink]="urls.mediaItem(item)">
  <div class="image"><img class="backdrop" [src]="item.backdrop">
  <div class="title">
    <h4 *ngIf="item.is_series==0; else sorozat">Film</h4>{{item.name}} <span>{{item.year}}</span></div>
    <ng-template #sorozat>
      <h3>Sorozat</h3>
    </ng-template>
  </div>
    <div class="action">
      <div class="left">
          <browseractionbuttons [item]="item"></browseractionbuttons>
          <div [routerLink]="urls.mediaItem(item)" [matTooltip]="'Online megtekintés' | trans" class="play">
              <mat-icon svgIcon="play-arrow"></mat-icon>
          </div>
      </div>
      <div class="right">
          <browserating [item]="item" ></browserating>
          <div class="text">{{((item.rating/10)*100).toFixed(0)}}%</div>
      </div>
      </div>

</div>
